/ * http://meyerweb.com/eric/tools/css/reset/
   v2.0-модифицированный | 20110126
   Лицензия: нет (общественное достояние)
* /

html , body , div , span , applet , object , iframe ,
h1 , h2 , h3 , h4 , h5 , h6 , p , цитата , pre ,
, сокр , акроним , адрес , большой , процитировать , код ,
del , dfn , em , img , ins , kbd , q , s , samp ,
маленький , ударный , сильный , саб , sup , tt , var ,
б , ты , я , центр ,
дл , дт , дд , ол , ул , ли ,
fieldset , форма , метка , легенда ,
таблица , заголовок , TBODY , TFOOT , THEAD , тр , е , тд ,
статья , в стороне , холст , детали , вставка ,
figure , figcaption , footer , header , hgroup ,
меню , навигация , вывод , рубин , раздел , сводка ,
время , отметка , аудио , видео {
  поле : 0 ;
	отступы : 0 ;
	граница : 0 ;
	размер шрифта : 100 % ;
	шрифт : наследовать ;
	выравнивание по вертикали : базовая линия ;
}

/ * не забудьте установить некоторые стили фокуса для доступности * /
: focus {
    контур : 0 ;
}

/ * Сброс роли отображения HTML5 для старых браузеров * /
статья , в стороне , детали , figcaption , рисунок ,
нижний колонтитул , заголовок , hgroup , меню , навигация , раздел {
	дисплей : блок ;
}

тело {
	высота строки : 1 ;
}

ol , ul {
	стиль списка : нет ;
}

цитата , q {
	цитаты : нет ;
}

blockquote : до , blockquote : до ,
q : до , q : после {
	содержание : ' ' ;
	содержание : нет ;
}

таблица {
	коллапс границы : коллапс ;
	интервал границы : 0 ;
}

input [ type = search ] :: - webkit-search-cancel-button ,
input [ type = search ] :: - webkit-search-украшение ,
input [ type = search ] :: - webkit-search-results-button ,
input [ type = search ] :: - webkit-search-results-украшение {
    внешний вид : нет ;
    -возможность появления : нет ;
}

input [ type = search ] {
    внешний вид : нет ;
    -возможность появления : нет ;
    -webkit-box-sizing : content-box ;
    -moz-box-sizing : content-box ;
    размер блока : блок содержимого ;
}

textarea {
    переполнение : авто ;
    выравнивание по вертикали : верх ;
    изменить размер : вертикальный ;
}

/ * *
 * Правильное отображение inline-block не определено в IE 6/7/8/9 и Firefox 3.
 * /

аудио ,
холст ,
видео {
    дисплей : встроенный блок ;
    * дисплей : встроенный ;
    * увеличение : 1 ;
    максимальная ширина : 100 % ;
}

/ * *
 * Запретить современным браузерам отображение `audio` без элементов управления.
 * Убрать лишнюю высоту в устройствах iOS 5.
 * /

аудио : нет ([ контролирует ]) {
    дисплей : нет ;
    высота : 0 ;
}

/ * *
 * Стиль адресации отсутствует в IE 7/8/9, Firefox 3 и Safari 4.
 * Известная проблема: нет поддержки IE 6.
 * /

[ скрыто ] {
    дисплей : нет ;
}

/ * *
 * 1. Исправьте странное изменение размера текста в IE 6/7, когда тело `font-size` установлено с помощью
 * `em` юниты.
 * 2. Запретить изменение размера текста iOS после изменения ориентации, не отключая
 * пользовательский зум.
 * /

html {
    размер шрифта : 100 % ; / * 1 * /
    -webkit-text-size-Adjust : 100 % ; / * 2 * /
    -ms-text-size-Adjust : 100 % ; / * 2 * /
}

/ * *
 * Устранить несоответствие `outline` между Chrome и другими браузерами.
 * /

a : focus {
    контур : тонкий  пунктир ;
}

/ * *
 * Улучшение читаемости, когда фокус, а также мышь зависла во всех браузерах.
 * /

а : активный ,
a : hover {
    контур : 0 ;
}

/ * *
 * 1. Удалите границу внутри элемента `a` в IE 6/7/8/9 и Firefox 3.
 * 2. Улучшение качества изображения при масштабировании в IE 7.
 * /

img {
    граница : 0 ; / * 1 * /
    -ms-interpolation-mode : бикубический; / * 2 * /
}

/ * *
 * Запас адресов отсутствует в IE 6/7/8/9, Safari 5 и Opera 11.
 * /

число {
    поле : 0 ;
}

/ * *
 * Правильное поле отображается странным образом в IE 6/7.
 * /

форма {
    поле : 0 ;
}

/ * *
 * Определить согласованные границы, поля и отступы.
 * /

fieldset {
    граница : 1 px  solid  # c0c0c0 ;
    поле : 0  2 px ;
    обивка : 0,35 EM  0,625 эм  0,75 эм ;
}

/ * *
 * 1. Правильный цвет не наследуется в IE 6/7/8/9.
 * 2. Правильный текст не переносится в Firefox 3.
 * 3. Правильное выравнивание отображается странным образом в IE 6/7.
 * /

легенда {
    граница : 0 ; / * 1 * /
    отступы : 0 ;
    пустое пространство : нормальное ; / * 2 * /
    * поле слева : -7 пикселей ; / * 3 * /
}

/ * *
 * 1. Правильный размер шрифта не наследуется во всех браузерах.
 * 2. Поля адреса устанавливаются по-разному в IE 6/7, Firefox 3+, Safari 5,
 * и хром.
 * 3. Улучшение внешнего вида и согласованности во всех браузерах.
 * /

кнопка ,
вход ,
выберите ,
textarea {
    размер шрифта : 100 % ; / * 1 * /
    поле : 0 ; / * 2 * /
    выравнивание по вертикали : базовая линия ; / * 3 * /
    * вертикальное выравнивание : среднее ; / * 3 * /
}

/ * *
 * Адрес Firefox 3+, устанавливающий `line-height` на` input`, используя `! Important` в
 * таблица стилей UA.
 * /

кнопка ,
вход {
    высота строки : нормальная ;
}

/ * *
 * Адрес несовместимого наследования `text-transform` для` button` и `select`.
 * Все остальные элементы управления формой не наследуют значения `text-transform`.
 * Исправить наследование стиля `button` в Chrome, Safari 5+ и IE 6+.
 * Исправить наследование стиля `select` в Firefox 4+ и Opera.
 * /

кнопка ,
выберите {
    преобразование текста : нет ;
}

/ * *
 * 1. Избегайте ошибки WebKit в Android 4.0. * Где (2) уничтожает собственный `audio`
 * и `video` управления.
 * 2. Исправлена ​​невозможность стилизовать кликабельные `input` типы в iOS.
 * 3. Улучшение удобства использования и согласованности стиля курсора между типом изображения
 * `input` и другие.
 * 4. Убрать внутренний пробел в IE 7, не влияя на обычный текстовый ввод.
 * Известная проблема: внутренний интервал остается в IE 6.
 * /

кнопка ,
html  input [ type = " button " ], / * 1 * /
вход [ тип = " сброс " ],
input [ type = " submit " ] {
    -webkit-внешний вид : кнопка; / * 2 * /
    курсор : указатель ; / * 3 * /
    * переполнение : видимое ;  / * 4 * /
}

/ * *
 * Переустановить курсор по умолчанию для отключенных элементов.
 * /

кнопка [ отключена ],
 ввод HTML [ отключен ] {
    курсор : по умолчанию ;
}

/ * *
 * 1. В IE 8/9 задан размер окна адреса для поля содержимого.
 * 2. Удалите лишние отступы в IE 8/9.
 * 3. Убрать лишние отступы в IE 7.
 * Известная проблема: избыточные отступы остаются в IE 6.
 * /

input [ type = " checkbox " ],
input [ type = " radio " ] {
    размер коробки : бордюр ; / * 1 * /
    отступы : 0 ; / * 2 * /
    * высота : 13 пикселей ; / * 3 * /
    * ширина : 13 пикселей ; / * 3 * /
}

/ * *
 * 1. Адрес `появление` установлен в` searchfield` в Safari 5 и Chrome.
 * 2. Адрес `box-sizing` установлен на` border-box` в Safari 5 и Chrome
 * (включите `-moz` в будущее).
 * /

input [ type = " search " ] {
    -webkit-внешний вид : текстовое поле; / * 1 * /
    -moz-box-sizing : content-box ;
    -webkit-box-sizing : content-box ; / * 2 * /
    размер блока : блок содержимого ;
}

/ * *
 * Удалите внутренние отступы и кнопку отмены поиска в Safari 5 и Chrome
 * на OS X.
 * /

input [ type = " search " ] :: - webkit-search-cancel-button ,
input [ type = " search " ] :: - webkit-search-украшение {
    внешний вид : нет ;
}

/ * *
 * Удалите внутренние отступы и границы в Firefox 3+.
 * /

кнопка :: - moz-focus-inner ,
вход :: - moz-focus-inner {
    граница : 0 ;
    отступы : 0 ;
}

/ * *
 * 1. Удалите вертикальную полосу прокрутки по умолчанию в IE 6/7/8/9.
 * 2. Улучшение читаемости и выравнивания во всех браузерах.
 * /

textarea {
    переполнение : авто ; / * 1 * /
    выравнивание по вертикали : верх ; / * 2 * /
}

/ * *
 * Убрать большую часть пробелов между ячейками таблицы.
 * /

таблица {
    коллапс границы : коллапс ;
    интервал границы : 0 ;
}

HTML ,
кнопка ,
вход ,
выберите ,
textarea {
    цвет : # 222 ;
}


:: - moz-selection {
    фон : # b3d4fc ;
    тень текста : нет ;
}

:: выбор {
    фон : # b3d4fc ;
    тень текста : нет ;
}

img {
    выравнивание по вертикали : среднее ;
}

fieldset {
    граница : 0 ;
    поле : 0 ;
    отступы : 0 ;
}

textarea {
    изменить размер : вертикальный ;
}

.chromeframe {
    маржа : 0,2 em  0 ;
    фон : #ccc ;
    цвет : # 000 ;
    заполнение : 0,2 em  0 ;
}